name: AWS CLI Workflow
on:
  push:
    branches:
      - main

jobs:
  setup-aws-cli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Setup AWS CLI
        uses: ./.github/actions/setup-awscli
        with:
          region: 'us-east-1'
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
