name: AWS CLI Workflow from Marketplace
on:
  push:
    branches:
      - main

jobs:
  setup-aws-cli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Configure AWS CLI
        uses: sagarsthorat/aws-cli@v1
        with:
          region: 'us-east-1'
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          output-format: json
